<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ZIP Code PH Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/areas"><span class="bi bi-search" aria-hidden="true"></span> Search</NavLink>
            <NavLink class="nav-link"><span></span> Metro Manila</NavLink>
            <NavLink class="nav-link"><span></span> Luzon</NavLink>
            <NavLink class="nav-link"><span></span> Visayas</NavLink>
            <NavLink class="nav-link"><span></span> Mindanao</NavLink>
            
        </div>
    </nav>
</div>